@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: rgba(70, 70, 70, 0.681);
}
.App{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-main{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-input{
    width: 300px;
    height: 20px;
    margin: 20px;
    padding: 1rem;
}
.result-image{
    width: 350px;
    margin-top: 20px;
}
.result-text{
    max-width: 1200px;
    margin-top: 2rem;
}
.btn{
    padding: 1rem;
    text-transform: uppercase;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2rem;
    font-weight: 700;
}
.link:hover{
    color:darkgray;
}

.heading{
    font-family: 'Poppins', sans-serif;
}
.grid-main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin-top: 40px;
}
.grid-child{
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.grid-child:hover{
    background: white;
    color: #212121;
}
.grid-child h3{
   font-family: Poppins;
   font-weight: 700;
}
.grid-child p{
    font-family: Poppins;
    font-weight:500;
    font-size: 15px;
 }
 .text-area{
    font-size: 20px;
    padding: 10px;
 }
 .action-btn{
    width: 200px;
    height: 50px;
    margin-top: 1.5rem;
    font-size: 20px;
    cursor: pointer;
 }
